<ion-card>
  <ion-card-subtitle>
      <ion-row class="ion-align-items-center">
          <ion-col class="ion-margin">
              <span class="subtitle-card-text" class="ion-text-uppercase">12 may, 2022</span>
          </ion-col>
          <ion-col align="right">
              <ion-button fill="clear">
                  <ion-icon slot="icon-only" name="star-outline" color="warning"></ion-icon>
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-card-subtitle>
  
  <ion-card-title class="ion-padding-horizontal ion-margin-bottom" mode="ios">
      Titulo de la Noticia
  </ion-card-title>

  <ion-img src="/assets/placeholder.png"></ion-img>

  <ion-card-content>
    <ion-row>
      <ion-col>
        Descripción de la Noticia en terminos generales para informar al usuario sobre que trata...
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-button  expand="block" fill="clear" shape="round">
          Abrir Noticias
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
