<ion-card>
  <ion-card-subtitle>
      <ion-row class="ion-align-items-center">
          <ion-col class="ion-margin">
              <span class="subtitle-card-text" class="ion-text-uppercase">{{noticia.fuente}}</span>
          </ion-col>
          <ion-col align="right">
              <ion-button fill="clear" (click)="favorito()">
                  <ion-icon slot="icon-only" [name]="icono() ? 'star':'star-outline'" color="warning"></ion-icon>
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-card-subtitle>
  
  <ion-card-title class="ion-padding-horizontal ion-margin-bottom" mode="ios">
      {{noticia.Titulo}}
  </ion-card-title>

  <ion-img [src]="noticia.Imagen"></ion-img>

  <ion-card-content>
    <ion-row>
      <ion-col>
        {{noticia.desc}}
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-button (click)="abrirNoticia()"  expand="block" fill="clear">
          Más Información
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
